{% load static %}
<html>
    <head>
        
            <title>Congratulations</title>    
            <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">        
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'CSS/AccountCreated.css' %}">
    </head>
    <body>
            <div class="Congratulations_box">
                <div class="wrapper">
                    <h1>Congratulations<img src="https://static.thenounproject.com/png/195649-200.png" width="10%"/></h1>
                    <h3>Account Successfully Created</h3>
                    <p>NOTE : Check Your Registered Mobile Number For Username and Password </p>
                    <p> your username is {{username}} and password is {{Passsword}}</p>
                    <a href="\">Home</a> &nbsp; | &nbsp;
                    <a href="\Account\Login">Login</a>
                </div>
                
    
    
            </div>
    </body>
</html>