{% load static %}
<html>
    <head>
        
            <title>Already Registered</title>    
            <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">        
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'CSS/AccountCreated.css' %}">
    </head>
    <body>
            <div class="Congratulations_box">
                <div class="wrapper">
                    <h1 style="color: red;">Sorry<img src="https://img.pngio.com/apology-tag-svg-png-icon-free-download-547986-onlinewebfontscom-apology-png-958_980.png" width="10%"/></h1>
                    <h3>Mobile Number Already Registered</h3>
                    <p>Please Login Through your Username and Password</p>
                    <a href="\">Home</a> &nbsp; | &nbsp;
                    <a href="\Account\Login">Login</a>
                </div>
                
    
    
            </div>
    </body>
</html>