{% load static %}
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'CSS/Login.css' %}">
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
              <h2 class="active"> Reset Password </h2><br>
              
              <!-- Icon -->
              <div class="fadeIn first">
                <img src="https://www.vippng.com/png/detail/355-3554387_create-digital-profile-icon-blue-profile-icon-png.png" id="icon" alt="User Icon" />
              </div>
              
              <!-- Login Form -->
              <form action="/Account/EnterOTP" method="POST">
                {% csrf_token %}
                {{error}}<br>
                <input type="text" id="password" class="fadeIn third" name="MobileNumber" placeholder="Mobile Number" required>
                <input type="submit" class="fadeIn fourth" value="Send OTP">
              </form>          
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="\Account\Login">Login</a>&nbsp; | &nbsp;
                <a class="underlineHover" href="/">Home</a>
              </div>          
            </div>
          </div>
    </body>
</html>