{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Login</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{% static 'CSS/style.min.css' %}">	
</head>
<body class="pace-top">

	<div id="page-loader" class="fade show"><span class="spinner"></span></div>

	<div class="login-cover">
		<div class="login-cover-image" style="background-image: url(https://i.ibb.co/CzWQxDJ/login-bg-13.jpg)" data-id="login-cover-image"></div>
		<div class="login-cover-bg"></div>
	</div>

	<div id="page-container" class="fade">

		<div class="login login-v2" data-pageload-addclass="animated fadeIn">

			<div class="login-header">
				<div class="brand">
					<b>Shree Virat Samriddhi</b>
					<small>Login</small>
					<small>{{error}}</small>
				</div>
				<div class="icon">
					<i class="fa fa-lock"></i>
				</div>
			</div>

			<div class="login-content">
				<form action="/Account/Console" method="POST" class="margin-bottom-0">
					{% csrf_token %}
					<div class="form-group m-b-20">
						<input type="text" id="login" class="form-control form-control-lg" name="Username" placeholder="Username" required>
					</div>
					<div class="form-group m-b-20">
						<input type="password" id="password" class="form-control form-control-lg" name="Passsword" placeholder="Password" required>
					</div>

					<div class="login-buttons">
						<button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
					</div>
					<div class="m-t-15">
						Not a member yet? Click <a href="\Account\Registration">here</a> to register.<br>
						<a class="underlineHover" href="\Account\ForgetPassword">Forgot Password?</a>&nbsp; | &nbsp;
                <a class="underlineHover" href="/">Home</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>
  <script src="{% static 'Jquery/apps.min.js' %}"></script>

	
	<script>
		$(document).ready(function() {
			App.init();
			LoginV2.init();
		});
	</script>
</body>
</html>
