{% load static %}
<html>
    <head>        
            <title>Contact US</title>    
            <title>SVS</title>           
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity=""/>
            <link rel="stylesheet" href="{% static 'Bootstrap/bootstrap.min.css' %}" integrity="" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
       
    </head>
    <style>
            
    </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand"><font class="logo">Shri Virat Samriddhi</font></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav" style="margin-left:auto;margin-right: 10%;">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" style="margin-left: 20px;" href="/#AboutUs">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link login_but" style="margin-left: 20px;color: white;text-align: center;" href="/Account/Login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link Registartion_but"  style="margin-left: 20px;color: white;padding-left: 15px;padding-right: 15px;" href="/Account/Registration">User Registartion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="margin-left: 20px;" href="/Services">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="margin-left: 20px;" href="#">Contact Us:</a>
                </li>     
              </ul>
            </div>
          </nav>
          <div class="container">
            <div class="col-lg-12">
                <section class="contact-section my-5">
    
                    <!-- Form with header -->
                    <div class="card">
                  
                      <!-- Grid row -->
                      <div class="row">
                  
                        <!-- Grid column -->
                        
                       
                        <div class="col-lg-12">
                  
                          <div class="card-body contact text-center h-100 white-text">
                  
                            <h3 class="my-4 pb-2">Contact information</h3>
                            <ul class="text-lg-left list-unstyled ml-4">
                              <li>
                                <p><i class="fa fa-map pr-2"></i>Ews-223,raptinagar behind b.b.singh sports collage,raptinagar phase-4,medical collage road gorakhpur utter pradesh-273003</p>
                              </li>
                              <li>
                                <p><i class="fa fa-phone pr-2"></i>+91-7779959595</p>
                              </li>
                              <li>
                                <p><i class="fa fa-envelope pr-2"></i>admin@shreeviratsamriddhi.in</p>
                              </li>
                            </ul>
                            <hr class="hr-light my-4">
                            <ul class="list-inline text-center list-unstyled">
                              <li class="list-inline-item">
                                <a class="p-2 fa-lg tw-ic">
                                  <i class="fa fa-twitter"></i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a class="p-2 fa-lg li-ic">
                                  <i class="fa fa-linkedin-in"> </i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a class="p-2 fa-lg ins-ic">
                                  <i class="fa fa-instagram"> </i>
                                </a>
                              </li>
                            </ul>
                  
                          </div>
                  
                        </div>
                        <!-- Grid column -->
                  
                      </div>
                      <!-- Grid row -->
                  
                    </div>
                    <!-- Form with header -->
                  
                  </section>
              </div>
          </div>
          



        <div class="footer" style="width:100%;background:rgba(37, 36, 36, 0.856);height:320;">
            <table class="table" height="90%">
              <tr >
                <td width="33%"  style="color: white;">
                  <h1 style="margin-top: -20px;">Quick Links</h1>                 
                  
                    <a href="/Account/Login"><li style="margin-left: 200px;font-size: 20px;">Login</li></a>
                    <a href="/Account/Registration"><li style="margin-left: 200px;font-size: 20;">User Registration</li></a>
                    <a href="#AboutUs"><li style="margin-left: 200px;font-size: 20;">About Us</li></a>
                    <a href="/contact"><li style="margin-left: 200px;font-size: 20;">Contact Us</li></a>
                    <a href="/Services"><li style="margin-left: 200px;font-size: 20;">Services</li></a>
                  
                </td>
                <td width="33%"  style="color: white;">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113996.4642545927!2d83.3338712661515!3d26.763851214157565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3991446a0c332489%3A0x1ff3f97fdcc6bfa2!2sGorakhpur%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1593957154596!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></td>
                <td>
                  <h1 style="margin-top: -25px;">Contact Us:</h1>                      
                        <ul>
                          <li style="margin-left: 150px;font-size: 15px;color: white;">Mobile : +91-7779959595 </li>
                          <li style="margin-left: 150px;font-size: 15px;color: white;">Email : admin@shreeviratsamriddhi.in</li>

                        </ul>
                        <h1 style="padding: 0px;">Office:</h1>
                  
                        <ul>
                          <li style="margin-left: 150px;font-size: 20px;color: white;">Address :</li>
                          <p style="margin-left: 150px;font-size: 15px;color: white;">Ews-223,raptinagar behind b.b.singh sports collage,raptinagar phase-4,medical collage road gorakhpur utter pradesh-273003
                                 </p>
                        </ul>
                </td>
              </tr>

            </table>
          </div>
    </body>
</html>
<script src="{% static 'Jquery/jquery-3.2.1.slim.min.js' %}" integrity="" crossorigin="anonymous"></script>
<script src="{% static 'Jquery/popper.min.js' %}" integrity="" crossorigin="anonymous"></script>
<script src="{% static 'Jquery/bootstrap.min.js' %}" integrity="" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(window).on('load',function(){
      $('#myModal').modal('show');
  });
</script>