{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{Name}} : Withdraw</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.dataTables.min.css">
  <link rel="stylesheet" href="{% static 'CSS/jquery.dataTables.min.css' %}">
  <link rel="stylesheet" href="{% static 'CSS/Profile.css' %}">
  <link rel="stylesheet" href="{% static 'AdminLteCSS/all.min.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'AdminLteCSS/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'AdminLteCSS/responsive.bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'AdminLteCSS/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-lg navbar-light bg-light">             
    <a class="navbar-brand" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars"></i></a>      
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Withdraw<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/NormalUser/WithdrawHistory" >Withdraw History</a>
      </div>
    </div>
  </nav>     
 
  
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{Photo}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="" class="d-block">{{Name}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/NormalUser/Home" class="nav-link">
              <i class="nav-icon fa fa-user"></i>
              <p>
                Dashboard                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/NormalUser/Profile" class="nav-link">
              <i class="nav-icon fa fa-user-secret"></i>
              <p>
                Profile                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/NormalUser/EPIN" class="nav-link">
              <i class="nav-icon fa fa-key"></i>
              <p>
                E-PIN                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/NormalUser/Team" class="nav-link">
              <i class="nav-icon fa fa-th"></i>
              <p>
                Team                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/NormalUser/SIA" class="nav-link">
              <i class="nav-icon fa fa-star"></i>
              <p>
                Single leg Achievement                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/NormalUser/Income" class="nav-link">
              <i class="nav-icon fa fa-credit-card"></i>
              <p>
                Income                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link active">
              <i class="nav-icon fa fa-credit-card-alt"></i>
              <p>
                Withdraw                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/NormalUser/PLI" class="nav-link">
              <i class="nav-icon fa fa-usd"></i>
              <p>
                Pre Launching Income <sup class="badge badge-warning navbar-badge">Offer</sup>          
              </p>
            </a>
          </li>
          
          
          <li class="nav-item">
            <hr style="background: white;color: white;" />
            <a href="/Account/Logout" class="nav-link">
              <i class="nav-icon fa fa-sign-out"></i>
              <p>
                Logout                
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            
            <h1 class="m-0 text-dark">Withdraw</h1>
            
          </div><!-- /.col -->
        <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">            
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                    
                    <div class="card-body">
                      <form action="/NormalUser/WithdrawRequest" method="POST">
                        {% csrf_token %}
                      <div class="col-lg-6">
                        <div class="form-group">
                          {% if messages %}
                          <ul class="messages">
                          {% for message in messages %}
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: green;">{{ message }}</p>
                          {% endfor %}
                          </ul>
                          {% endif %}


                          <ul>
                            <li>Minimum withdraw amount is 200 Rs.</li>
                            <li>Admin charges 10% TDS 5% . Total 15% will be deduct.</li>
                          </ul>

                          <label>Available Balanace</label>
                          <input type="number" id="totalbal" value="{{TotalBalance}}" class="form-control" readonly/>
                        </div>
                        
                        <div class="form-group">
                          <label>Amount</label>
                          <input type="number" id="balance" name="reqamount" class="form-control" required/>
                        </div>
                        <div class="form-group">
                          <label>Transaction PIN</label>
                          <input type="number" id="pin" name="tpin" class="form-control" required/>
                        </div>
                        <p id="sandesh" style="color: red;"></p>
                      </div>
                      
                      <div class="col-lg-6">
                        <input type="submit" id="sub" value="Send Request" class="Uploadbut" style="background: cornflowerblue;color: white;" />
                      </div>               
                      
                      </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="main-footer" >
    Copyright &copy; 2020<a > Samarth India Pvt. Ltd </a>.
    All rights reserved.
    
  </footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">

  </aside>  
</div>


</body>
</html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="   crossorigin="anonymous"></script>
<script src="{% static 'AdminLteJquery/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'AdminLteJquery/adminlte.js' %}"></script>
<script src="{% static 'AdminLteJquery/Chart.min.js' %}"></script>
<script src="{% static 'Jquery/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLteJquery/demo.js' %}"></script>
<script src="{% static 'AdminLteJquery/dashboard3.js' %}"></script>
<script src="{% static 'AdminLteJquery/Treeview.js' %}"></script>
<script src="{% static 'AdminLteJquery/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLteJquery/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'AdminLteJquery/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'AdminLteJquery/responsive.bootstrap4.js' %}"></script>
<script src="{% static 'AdminLteJquery/bs-custom-file-input.min.js' %}"></script>
<script>
  $(document).ready(function () {
    var poora=$("#totalbal").val();
    var bal=parseInt(poora);
    $("#balance").keyup(function () {
      var total=$("#balance").val();
      if(total>bal){
        $("#sandesh").text("Amount you entered is bigger than your Total Balance");
        $('#sub').prop('disabled', true);
      }
      else if(total==0){
        $("#sandesh").text("Amount cannot be zero or null");
        $('#sub').prop('disabled', true);
      }
      else if(total==null){
        $("#sandesh").text("Amount cannot be zero or null");
        $('#sub').prop('disabled', true);
      }
      else{
        $("#sandesh").text("");
        $('#sub').prop('disabled', false);
      }
      
      

    });
  });
</script>
